doctype html
html(ng-app="TodoModule")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    title State Insight
    link(rel='stylesheet', href='/stylesheets/index_style.css')
    link(rel='stylesheet', href='/stylesheets/town_style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://d3js.org/topojson.v1.min.js')
    //script(src='javascripts/filters.js')
    script(src='javascripts/comments.js')
    script(src='javascripts/maMap.js')
    

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')

    script(type='text/javascript', src='/javascripts/TodoModule.js')

    block head

  body
    block content
