doctype html
html(lang="en", xmlns:xlink="http://www.w3.org/1999/xlink")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title State Insight - Welcome
        link(rel="stylesheet", href="css/welcome.css")
        link(rel="stylesheet", href="css/bootstrap.css")
        link(href="http://fonts.googleapis.com/css?family=Lato:300,100", rel="stylesheet", type="text/css")
    div.parallax
        div.parallax__group#group1
            div#copy_back.parallax__layer--back
            div#copy_base.parallax__layer--base
                div#state_insight
                    h1.larger-text State 
                        span.gold Insight
                    h3 Hundreds of towns.  Millions of voters.  One tool.
           
                div#form_container
                    div#login_form
                        form(action="/login", method="post")
                          div.row
                            input(type="text", name="username" placeholder="Email")

                          div.row
                            input(type="password", name="password" placeholder="Password")

                          div
                            input(type="submit", value="Log In")

        div#copy.parallax__group
            div#copy_back.parallax__layer--back
            div#copy_base.parallax__layer--base
                div.copy_content
                    h2
                        span.gold Visualize 
                        | demographic data at a glance.

                    img(src='/bilevel.png') 
                    div.row
                        div.col-xs-4

                        p.col-xs-6
                            |• Census data
                            br
                            |• State records
                            br
                            |• Polls
                            br
                            |• Wikipedia
                            br
                            |• 40+ years of election results
                        
                div.copy_content
                    h2 
                        span.gold Locate 
                        | important behavioral trends.
                    div.row
                        img(src='/statemap.png')  
                        div.row
                            div.col-xs-2

                            p.col-xs-8
                                |• Which towns beat expectations last election?
                                br
                                |• Which precincts turn out for mid-terms?
                                br
                                |• Which neightborhoods have been hit hardest by unemployment?
                                br
                                |• Where are young voters?  Rich voters?  Voters with children?



                div.copy_content
                    h2
                        span.gold Understand 
                        | voter associations.
                    div.row
                        img(src='/clusters.png')  
                        div.row
                            div.col-xs-2

                            p.col-xs-8
                                |• How has a town voted as its population ages?
                                br
                                |• What is the local relationship between employment and turnout?
                                br
                                |• Which unenrolled voters almost always vote Democrat?


    footer
      | © 2014&nbsp&nbsp
      a(href='http://stevenliss.com/') Steven B. Liss
