body {
	/*background-color:#000D1A !important;*/
	background-image: url("purphex.png");
	background-size: 56px 32px;
	background-size: 112px 65px;
	overflow-x:hidden;

	font-family: 'Lato', sans-serif !important;}

h1{
	font-size: 60px !important;
	font-variant: small-caps;
}

.gold{
	color:#268bef;
}

.container {
	padding-bottom:10px;
	padding-top:10px;
	border:none;
	border-color:#6457F2;
	border-width:10px;
}

#detail_container{
	background-color: white;
	padding:15px!important;
}

.angular-google-map-container { 
	height: 400px;
}

#index_link {
	background-color:#eee;
	padding:5px;
	display:inline;
	font-size:22px;
	margin-left:auto;
	margin-top:auto;
}

#index_link a{
	margin-left:auto;
	margin-top:auto;
	text-align:center;
	font-size:22px;
	color:#000 !important;
}

#results {
	margin-left:100px;
}

legendLabels,legendBoxes {
	display: block;
	margin:auto;
	position:relative;
	left:-150px;
	top:-150px;
	font-family: sans-serif !important;
}

legendLabels{
	top:-170px;

}

table {
	background-color:#F7F7F7 !important;	
	
}


#hiddenSlug {
	display:none;
}

#comments_saved {
	display:none;
	color:green;
}

  .body{background-color:#B9CEFA;}
  .town:hover{ fill: yellow !important; }

  .tract-border {
    fill: none;
    stroke: #333;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width:.2;
  }